/* .navbar {
    background:rgb(255, 194, 14);
    background-color: rgb(255, 194, 14)!important;
    color:black;
    
}
nav {
    background: rgb(255, 194, 14);
}
.nav-link {
    color:black!important;
}
.navbar-brand {
    color:black!important;
}
.navImg {
    width:100px;
    height:100px;
} */


.faText {

    font-family: 'Lato', 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.faText:hover {
    color:lightgrey;
    text-decoration: none;
}