.navbar {
    background:#FFDC00;
    background-color: #FFDC00!important;
    color:black;
    
}
nav {
    background: #FFDC00;
}
.nav-link {
    color:black!important;
}
.navbar-brand {
    color:black!important;
}