.searchArea {
    margin-top: 25px;
    margin:auto;
    background: rgb(7, 26, 4, 0);
    width: 80%;
    border: none;
}

.searchButton {
    background: rgb(7, 26, 40);
    color: white;
    border: none;
    margin-top: 5px;
    width: 100%;
}
.searchButton:hover {
    background:  rgba(7, 26, 40, .8);
}

.searchLabel {
    margin-right: 20px;
}

.customPlantButton {
    right: 0;
    background: white;
    color: rgb(7, 26, 40);
    border: none;
}

.bubble {
    margin-left: 10px;
    
}